@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=M+PLUS+1p&display=swap");

body {
  background-color: white;
  font-family: "ABeeZee", sans-serif;
}

/* Nav Bar */
#container {
  position: relative;
  width: 100%;
  margin: 5% auto;
  background-color: #091540;
  box-shadow: -2px -2px 5px white, 2px -2px 5px white;
}

#container > nav {
  width: 100%;
  display: flex;
  height: 60px;
}

#logo img{
  height: 350%;
  width: auto;
  margin-top: -38%;
  margin-left: 30px
}

#container > nav > .mainMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 50px;
  /*   min-width:60%; */
}

#container > nav > .mainMenu > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}

#container > nav > .mainMenu > li > a {
  position: relative;
  margin: 0 20px;
  color: white;
}

#container > nav > .mainMenu > li:hover {
  border-bottom: 2px solid white;
  background-color: #157eb7;
}

#container > nav > .mainMenu > .dropdown:hover {
  border-bottom: none;
}

#container > nav > .mainMenu > .dropdown:hover > .dd {
  display: block;
}

.dropdown:hover > a .fa-caret-down {
  display: none;
}

a {
  text-decoration: none;
}

#container > nav > .mainMenu > li > div {
  position: absolute;
  padding: 0 10px;
  background-color: black;
  display: none;
  background-color: aliceblue;
  min-width: 100px;
}

#container > nav > .mainMenu > li > div > ul {
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
}

#u_a_c {
  position: relative;
  width: 100%;
}

#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 42%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

#container > nav > .mainMenu > li > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#container > nav > .mainMenu > li > div > ul > li > a {
  padding: 5px;
  color: black;
}

.fa-bars {
  color: #091540;
}

.fa-times {
  color: #091540;
}

/* Main Content */
#missionaries-content {
  padding-bottom: 10px;
  display: flex;
  gap: 40px;;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

#a-box {
  display: inline-block;
  width: 340px;
  text-align: center;
}

#img-container {
  height: 330px;
  width: 300px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

#img-container img {
  transform: skew(0deg, -13deg);
  height: 350px;
  margin: -35px 0px 0px -70px;
}

#inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 350px;
  width: 300px;
}

#text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

#text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

/* Footer */
footer {
  position: relative;
  background: #091540;
  height: 180px;
  width: 99%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

#footer_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5% 1fr;
  margin-left: 2%;
  margin-right: 2%;
}

/* reservation button */
#footer_content a {
  padding: 1rem 2rem;
	font-size: 1.25rem;
	position: relative;
	border: 2px solid white;
	color: white;
	background-color: transparent;
	text-align: center;
}

#btn {
  height: 10%;
  width: 50%;
  padding:10px 20px;
  border:2px solid white;
  color:white;
  font-size:30px;
  text-decoration:none;
  margin: 60px;
  transition: color 0.4s;
  grid-row: 2 / 3;
}

#btn:after {
  content:" ";
  border:2px solid rgba(0,0,0,0);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}

#btn:hover {
  color: #157eb7
}

#btn:hover:after {
  border:2px solid #157eb7;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

/* Social Media */
#social-buttons {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 5%;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

#map {
  grid-row: 2 / 3;
  grid-column: 5 / 6;
  margin: 10px;
}

@media screen and (max-width: 1260px) {
  #missionaries-content {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    gap: 20px;
  }

  #img_container_temple {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
  }

  #img_container_services {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
  }

  #img_container_reservation {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
  }

  #footer_content a {
    padding: 1rem 2rem;
    font-size: 14px;
    position: relative;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-align: center;
  }

  #btn {
    height: 10%;
    width: 50%;
    padding:10px 20px;
    border:2px solid white;
    color:white;
    font-size:10px;
    text-decoration:none;
    margin: 60px;
    transition: color 0.4s;
    grid-row: 2 / 3;
  }

  #social-buttons {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 2%;
    text-decoration: none;
    border-radius: 50%;
  }  

  iframe {
    width:70%;
  }
}

@media screen and (max-width: 950px) {  
  #missionaries-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  #logo {
    display: none;
  }

  .fa-bars {
    color: white;
    margin-top: -50px;
  }

  nav .mainMenu {
    height: 90vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #38618c;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  nav .openMenu {
    display: block;
  }

  h1 {
    margin-left: 45%;
    margin-right: 45%;
  }

  #temple {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  #img_container_temple {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 35%;
  }

  #img_container_temple img {
    width: auto;
    height: 100%;
  }

  #services {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  #img_container_services {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 35%;
  }
  
  #reservation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  #reservation-title {
    margin-left: 41%;
    margin-right: 41%;
  }

  #img_container_reservation {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 35%;
  }

  #footer_content a {
    padding: 1rem 2rem;
    font-size: 14px;
    position: relative;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    text-align: center;
  }

  #btn {
    height: 10%;
    width: 50%;
    padding:10px 20px;
    border:2px solid white;
    color:white;
    font-size:10px;
    text-decoration:none;
    margin: 60px;
    transition: color 0.4s;
    grid-row: 2 / 3;
  }

  #social-buttons {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 2%;
    text-decoration: none;
    border-radius: 50%;
  }  

  iframe {
    width:70%;
  }
}