
picture {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(5, 400px);
    margin-left: 40%;
    margin-right: 40%;
    overflow: hidden;
}

h1 {
    text-align: center;
}

#minion1 {
    grid-row: 1 / 2;
}

#minion2 {
    grid-row: 2 / 3
}

#minion3 {
    grid-row: 3 / 4;
}

#minion4 {
    grid-row: 4 / 5;
}

#minion5 {
    grid-row: 5 / 6;
}

picture img[data-src] {
    filter: blur(0.2rem);
}

picture img {
    width: 300px;
    filter: blur(0rem);
    transition: filter 0.5s;
}