@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=M+PLUS+1p&display=swap");

body {
  background-color: white;
  font-family: "ABeeZee", sans-serif;
}

/* Nav Bar */
#container {
  position: relative;
  width: 100%;
  margin: 5% auto;
  background-color: #091540;
  box-shadow: -2px -2px 5px white, 2px -2px 5px white;
}

#container > nav {
  width: 100%;
  display: flex;
  max-height: 60px;
}

#logo {
  line-height: 60px;
  font-size: 30px;
  padding: 0 50px;
  color: white;
  width: 40%;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px;
}

#container > nav > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 50px;
  /*   min-width:60%; */
}

#container > nav > ul > li {
  line-height: 60px;
  margin: 0 0px;
  padding: 0;
  text-align: center;
  display: inline-block;
  min-width: 120px;
}

#container > nav > ul > li > a {
  position: relative;
  margin: 0 20px;
  color: white;
}

#container > nav > ul > li:hover {
  border-bottom: 2px solid white;
  background-color: #157eb7;
  z-index: 1;
}

#container > nav > ul > .dropdown:hover {
  border-bottom: none;
}

#container > nav > ul > .dropdown:hover > .dd {
  display: block;
}

.dropdown:hover > a .fa-caret-down {
  display: none;
}

a {
  text-decoration: none;
}

#container > nav > ul > li > div {
  position: absolute;
  padding: 0 10px;
  background-color: black;
  display: none;
  background-color: aliceblue;
  min-width: 100px;
}

#container > nav > ul > li > div > ul {
  margin: 0px 0 10px 0;
  padding: 0;
  list-style: none;
}

#u_a_c {
  position: relative;
  width: 100%;
}

#up_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  left: 42%;
  top: -10px;
  background-color: aliceblue;
  transform: rotate(45deg);
}

#container > nav > ul > li > div > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#container > nav > ul > li > div > ul > li > a {
  padding: 5px;
  color: black;
}

/* Main Content */
#amenities-content {
  display: flex;
  gap: 40px;;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  margin-left: 20%;
  margin-right: 20%;
}

#a-box {
  display: inline-block;
  width: 340px;
  text-align: center;
}

#img-container {
  height: 330px;
  width: 300px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

#img-container img {
  transform: skew(0deg, -13deg);
  height: 350px;
  margin: -35px 0px 0px -70px;
}

#inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 350px;
  width: 300px;
}

#text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

#text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
}

/* Footer */
footer {
  position: absolute;
  background: #091540;
  height: auto;
  width: 99%;
  padding-top: 40px;
  margin-top: 20px;
  color: #fff;
}

#footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
  line-height: 10px;
  font-size: 10px;
  color: #cacdd2;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
