@media only screen and (min-width: 700px) {
  #container {
    display: flex;
    background-color: #e6ebf0;
    justify-content: space-around;
    align-items: center;
    height: 688px;
    padding: 0px 30px;
  }

  .card {
    background-color: white;
    text-align: center;
    padding: 30px 40px;
  }

  .price {
    color: #12aaeb;
    display: inline;
    vertical-align: text-top;
  }

  #yellow {
    background-color: #ffcf2d;
    /* color: white;
        border: none; */
  }

  .heading {
    color: #12aaeb;
  }

  .popular {
    background-color: #12aaeb;
    color: white;
  }

  .button {
    box-shadow: 2px 2px;
  }
}
@media only screen and (max-width: 700px) {
  #container {
    position: relative;
  }
  #card-2 {
    position: absolute;
  }

  #container {
    display: flex;
    background-color: #e6ebf0;
    justify-content: space-around;
    align-items: center;
    height: 688px;
    padding: 0px 30px;
  }

  .card {
    background-color: white;
    text-align: center;
    padding: 30px 40px;
  }

  .price {
    color: #12aaeb;
    display: inline;
    vertical-align: text-top;
  }

  #yellow {
    background-color: #ffcf2d;
    color: white;
    border: none;
  }

  .heading {
    color: #12aaeb;
  }

  .popular {
    background-color: #12aaeb;
    color: white;
    text-align: center;
  }

  .button {
    box-shadow: 2px 2px;
  }
}
